
html.hcfe {
    background-color: #f5f5f5;
}
.hcfe body, .hcfe {
    background-color: #fff;
    color: #444;
    direction: ltr;
    font: 400 13px/22px "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
}
html {
    font-size: 62.5%;
}

body, button, input, select, textarea {
    font-family: sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.modal-dialog {
    color: #000;
    padding: 30px 42px;
}
.modal-dialog {
    z-index: 1000;
}
.p6n-popup {
    z-index: 999;
}
.goog-modalpopup, .modal-dialog {
    background: none repeat scroll 0 0 padding-box #fff;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    outline: 0 none;
    position: absolute;
}
.p6n-popup {
    background: none repeat scroll 0 0 white;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}

.appbar-container {
    background-color: #393832;
    height: 45px;
    position: relative;
}

.appbar {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 11px;
    position: relative;
}

.appbar-nav {
    /*display: inline-block;*/
    white-space: nowrap;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.appbar-nav > ul {
    list-style: none outside none;
}

.hcfe a {
    color: #245dc1;
    text-decoration: none;
}

.appbar-nav .crumb, .appbar-nav .crumb:visited {
    color: #999;
}
.appbar-nav .product-name {
    margin-left: 1em;
}
.hcfe a {
    color: #245dc1;
    text-decoration: none;
}

.appbar-nav .product-icon img {
    margin-top: -2px;
}
img {
    border: 0 none;
    vertical-align: middle;
}

.appbar-nav > ul > li.crumb-container:before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVR42r3TsQ2AMAxEUTYhm7CNh4GlGAJq2MQ4pzTWicKHRPGlFNwLTSZ3T5lZb40azlz6/g04owuICDQAAxEARgSAEQFgRADQEnm0K8A8br+FP+BxAeBxAeBxFTjSWAC2r28B/QnoPcZMIf3wsKR/AAAAAElFTkSuQmCC");
}
.appbar-nav > ul > li.crumb-container:before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVR42r3TsQ2AMAxEUTYhm7CNh4GlGAJq2MQ4pzTWicKHRPGlFNwLTSZ3T5lZb40azlz6/g04owuICDQAAxEARgSAEQFgRADQEnm0K8A8br+FP+BxAeBxAeBxFTjSWAC2r28B/QnoPcZMIf3wsKR/AAAAAElFTkSuQmCC");
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: 5px;
}
.appbar-nav > ul > li {
    display: inline-block;
    float: left;
}

.appbar-nav > ul > li:last-child {float: right;}
.appbar-nav .crumb:hover, .appbar-nav .crumb--last, .appbar-nav .crumb--last:visited {
    color: #fff;
}
.appbar-nav .crumb, .appbar-nav .crumb:visited {
    color: #999;
}

.appbar-nav > ul {
    list-style: none outside none;
}

.primary-container {
    box-shadow: 0 -30px 30px -4px #999;
    margin: 0 auto;
    max-width: 1280px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.page-width-container {
    margin: 0 auto;
    max-width: 978px;
    padding: 20px 0 72px;
}


.footer-links-container {
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 12px;
    min-height: 85px;
    padding: 1em 0;
}

.footer-links-container .footer-links {
    margin: 0 auto;
    max-width: 978px;
}

.footer-links ul {
    display: inline-block;
    list-style: none outside none;
    width: 716px;
}

.footer-links li + li:before {
    content: "-";
}
.footer-links li {
    display: inline-block;
}

.footer-links a {
    color: #999;
    text-decoration: none;
}
