
html.hcfe {
    background-color: #f5f5f5;
}
.hcfe body, .hcfe {
    background-color: #fff;
    color: #444;
    direction: ltr;
    font: 400 13px/22px "Helvetica Neue","HelveticaNeue",Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
	overflow-x: hidden;
}
html {
    overflow-y: scroll;
}
html {
    font-size: 62.5%;
}

body, button, input, select, textarea {
    font-family: sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
.modal-dialog {
    color: #000;
    padding: 30px 42px;
}
.modal-dialog {
    z-index: 1000;
}
.p6n-popup {
    z-index: 999;
}
.goog-modalpopup, .modal-dialog {
    background: none repeat scroll 0 0 padding-box #fff;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    outline: 0 none;
    position: absolute;
}
.p6n-popup {
    background: none repeat scroll 0 0 white;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}

.appbar-container {
    background-color: #393832;
    height: 45px;
    position: relative;
}

.appbar {
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 11px;
    position: relative;
}

.appbar-nav {
    /*display: inline-block;*/
    white-space: nowrap;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.appbar-nav > ul {
    list-style: none outside none;
}

.hcfe a {
    color: #245dc1;
    text-decoration: none;
}

.appbar-nav .crumb, .appbar-nav .crumb:visited {
    color: #999;
}

.hcfe a {
    color: #245dc1;
}

.appbar-nav .product-icon img {
    margin-top: -2px;
}
img {
    border: 0 none;
    vertical-align: middle;
}

.appbar-nav > ul > li.crumb-container:before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVR42r3TsQ2AMAxEUTYhm7CNh4GlGAJq2MQ4pzTWicKHRPGlFNwLTSZ3T5lZb40azlz6/g04owuICDQAAxEARgSAEQFgRADQEnm0K8A8br+FP+BxAeBxAeBxFTjSWAC2r28B/QnoPcZMIf3wsKR/AAAAAElFTkSuQmCC");
}
.appbar-nav > ul > li.crumb-container:before {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVR42r3TsQ2AMAxEUTYhm7CNh4GlGAJq2MQ4pzTWicKHRPGlFNwLTSZ3T5lZb40azlz6/g04owuICDQAAxEARgSAEQFgRADQEnm0K8A8br+FP+BxAeBxAeBxFTjSWAC2r28B/QnoPcZMIf3wsKR/AAAAAElFTkSuQmCC");
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: 5px;
}
.appbar-nav > ul > li {
    display: inline-block;
    float: left;
}

.appbar-nav > ul > li:last-child {float: right;}
.appbar-nav .crumb:hover, .appbar-nav .crumb--last, .appbar-nav .crumb--last:visited {
    color: #fff;
}
.appbar-nav .crumb, .appbar-nav .crumb:visited {
    color: #FFF;
}

.appbar-nav > ul {
    list-style: none outside none;
}

.primary-container {
    box-shadow: 0 -30px 30px -4px #999;
    margin: 0 auto;
    max-width: 75%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

.page-width-container {
    margin: 0 auto;
    max-width: 978px;
    padding: 20px 0 72px;
    overflow: hidden;
    display: none;
}


.footer-links-container {
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 12px;
    min-height: 85px;
    padding: 1em 0;
}

.footer-links-container .footer-links {
    margin: 0 auto;
    max-width: 978px;
    width: 315px;
}

.footer-links ul {
    display: inline-block;
    list-style: none outside none;
    width: 716px;
}

.footer-links li + li:before {
    content: "-";
}
.footer-links li {
    display: inline-block;
}

.footer-links a {
    color: #999;
    text-decoration: none;
}

.appbar-nav .nav-title {	
    color: white;
    width: 318px;
    font-size: 39px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    margin-left: -159px;
}

#map_canvas { 
    height: 800px;
    width: 100%;
    display: inline-block;
    margin-bottom: -7px;
    margin-left: -16.67%;
    margin-right: -140px;
}

.header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
	text-align: center;
	font-size: 48px;
}

.left_panel {
    width: 16.67%;
    float: left;
    position: relative;
    left: -16.67%;
    display: inline-block;
}

.item {
	margin-left: 10px;
	margin-bottom: -2px;
	margin-right: 5px;
	cursor: pointer;
}

.item_checkbox {
	margin-left: 12px;
}

.list_item {
	padding-top: 2px;
	padding-left: 10px;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	z-index: 1000;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	padding: 30px 42px;
	display: none;
}

.popup .error {
	display: none;
	color: red;
	text-align: center;
	width: 346px;
	padding-top: 17px;
}

#asset_popup {
    margin-top: -298px;	
    margin-left: -185px;
}

#asset_popup .error {
	width: 286px;
}

#trigger_weather_popup {
	margin-top: -292px;
	margin-left: -220px;
}

#trigger_temperature_popup {
	margin-top: -177px;
	margin-left: -220px;
}

#trigger_accident_popup {
	margin-top: -157px;
	margin-left: -220px;
}

#trigger_flow_popup {
	margin-top: -177px;
	margin-left: -220px;
}

#trigger_twitter_popup {
	margin-top: -188px;
	margin-left: -220px;
}

.popup-field {
	padding: 5px 0 5px 0;
	display: block;
}

.subitem .popup-label{
    margin-left: 20px;	
    margin-right: -20px;
}

.popup-label {
	min-width: 90px;
	display: inline-block;
}

.trigger_popup .popup-label {
	min-width: 160px;
}

.trigger_popup .additional .popup-label {
	min-width: 164px;
}

.button {
	border: 1.1px solid transparent;
    border-radius: 2px;
	cursor: pointer;    
	font-family: inherit;
    font-size: 13px;
    font-weight: 400;
	line-height: 30px;    
	margin: 0;   
	min-width: 72px;   
	padding: 0 10px;
	text-align: center;    
	text-decoration: none !important;
    text-transform: none;  
	vertical-align: middle;   
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
	background-color: #fff;
}

.popup_bg {
	display: none;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 #fff;
    left: 0; 
	position: absolute;
    top: 0;
	opacity: 0.75;
	z-index: 999;
}

.button_action {
	background-color: #4d90fe;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    border-color: #0157e4;
    color: #fff;
}

.textinput {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 174px;
    text-overflow: ellipsis;
}

.drop-down {    
	border-color: #c0c0c0 #d9d9d9 #d9d9d9;   
	border-image: none;    
	font-size: 13px;  
	height: 29px;    
	padding: 1px 8px;
	border-width: 1px;
	width: 191px;
	margin-left: 1px;
	background-color: white;
}

.popup_title {
    background-color: #fff;
    color: #000;
    cursor: default;
    line-height: 24px;
    margin: 0 0 16px;
	font-size: 110%;
    font-weight: bold;
    margin-bottom: 23px;
    text-align: center;
}

.buttons-block {
	width: 150px;
	margin: auto;
	padding-top: 20px;
}

.title {
	padding: 10px 10px;
	text-align: center;
	font-size: 110%;
	font-weight: bold;
}

#context_menu {
    width: 150px;
    background-color: #FFF;
    visibility: hidden;
    position: absolute;
    line-height: 28px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
	border: 1px solid lightgray;
	border-radius: 5px;
	z-index: 1000;
}

.menu_item {
    display: block;
    padding: 0px 0px 0 5px;
    cursor: context-menu;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #555;
}

.sub::after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 9px;
	margin-right: 12px;
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
}

.sub:hover::after {
	border-left-color: #ffffff;
}

.menu_item:hover {
	color: #ffffff;
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
}

.triggers_menu:hover .submenu{
	display: block;
	position: absolute;
	top: 0;
	left: 150px;
}

.traffic_menu:hover .traffic_sub_menu {
	display: block;
	position: absolute;
	top: 0;
	left: 150px;
}

.weather_menu:hover .weather_sub_menu {
	display: block;
	position: absolute;
	top: 29px;
	left: 150px;
}

.social_menu:hover .social_sub_menu {
	display: block;
	position: absolute;
	top: 58px;
	left: 150px;
}

.submenu, .traffic_sub_menu, .weather_sub_menu, .social_sub_menu {
	display: none;
	background-color: #FFF;
	width: 150px;
	border: 1px solid lightgray;
	margin-top: -1px;
	border-radius: 5px;
}

.weather_station {
	font-family: "Arial Black",Arial;
	font-size: 12px;
	color: black;
	padding: 0;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid black;
	border-radius: 16px;
	opacity: 0.75;
}

.coldest {
	color: white;
	background-color:#03008A;	
}

.colder {
	color: white;
	background-color:#0100C8;	
}

.cold {
	color: white;
	background-color:#0000F8;	
}

.coolest {
	color: white;
	background-color:#006502;	
}

.cooler {
	color: white;
	background-color:#009800;	
}

.cool {
	background-color:#00FE04;	
}

.warm {
	background-color:#C9FD00;	
}

.warmer {
	background-color:#FAFB5F;	
}

.warmest {
	background-color:#FBCB00;	
}

.hot {
	background-color:#F89832;	
}

.hotter {
	color: white;
	background-color:#F80000;	
}

.hottest {
	color: white;
	background-color:#C80100;	
}

.cross {	
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 120px;
}

.cross::after, .cross::before {
	content: '';
	height: 3px;
	width: 13px;
	display: block;
	background: #555;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	position: absolute;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.cross::after {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.menu_item:hover > .cross::after, .menu_item:hover > .cross::before{
	background: #FFF;
}

.separator {
	height: 1px;
	overflow: hidden;
	background-color: #e5e5e5;
}

.loading {
	position: relative;
	right: -140px;
	top: 10px;
	float: right;
	margin: 10px 0 0 15px;
	display: none;
	font-size: 17px;
	font-style: italic;
	width: 125px;
}

.hidden {
	display: none;
}

.gm-style-iw {
	left: 10px !important;
	top: 8px !important;
}

.infowindow_content {
	text-align: justify;
}

.infowindow_content > ul {
	margin-left: 20px;
}

.infowindow_title {
	font-weight: bold !important;
}

.popup .add-fields {
	cursor: pointer;
	text-decoration: underline;
}

.popup .cross {
	top: -26px;
	left: 364px;
}

.weather_label {
	vertical-align: middle;
	line-height: 35px;
}

.weather_info {
	height: 35px;
	line-height: 35px;
	background-size: 35px;
	background-position: left;
	background-repeat: no-repeat;
	text-indent: 40px;
}

.Cloudy {
	background-image: url("/img/Cloudy5.png");
}

.MostlyCloudy, .AMFogCloudy {
	background-image: url("/img/Cloudy4.png");
}

.PartlyCloudy, .MostlySunny {
	background-image: url("/img/Cloudy1.png");
}

.Clear, .Fair, .SunnyClear, .Frigid, .HotandHumid {
	background-image: url("/img/Sunny.png");
}

.Fog, .Smoke, .Windy {
	background-image: url("/img/Fog.png");
}

.Dust, .AMFogPMSun, .Haze, .SunnyWindy {
	background-image: url("/img/Mist.png");
}

.ShowersClear, .Sprinkles {
	background-image: url("/img/Shower1.png");
}

.Showers {
	background-image: url("/img/Shower2.png");
}

.PMRain {
	background-image: url("/img/Shower2_night.png");
}

.Rain, .RainWindy {
	background-image: url("/img/Shower3.png");
}

.RainSnow, .RaintoSnow, .SnowtoRain, .Sleet, .AMIceSnow, .FreezingRain, .FreezingDrizzle {
	background-image: url("/img/Sleet.png");
}

.CloudyPMSun {
	background-image: url("/img/Cloudy2.png");
}

.ScatteredFlurries, .SnowShowersSun, .Flurries {
	background-image: url("/img/Snow1.png");
}

.SnowShowers {
	background-image: url("/img/Snow2.png");
}

.Snow, .AMSnow {
	background-image: url("/img/Snow3.png");
}

.PMSnow {
	background-image: url("/img/Snow3_night.png");
}

.IceSnow, .Blizzard, .PMIceSnow {
	background-image: url("/img/Snow4.png");
}

.BlowingSnow, .SnowWindy {
	background-image: url("/img/Snow5.png");
}

.IsolatedThunderstorms, .ScatteredThunderstorms, .AMThunderstorms {
	background-image: url("/img/Tstorm1.png");
}

.PMThunderstorms {
	background-image: url("/img/Tstorm1_night.png");
}

.Tstorms {
	background-image: url("/img/Tstorm2.png");
}

.Drizzle {
	background-image: url("/img/Light_rain.png");
}

.CloudyWindy {
	background-image: url("/img/Overcast.png");
}

.PMClouds {
	background-image: url("/img/Cloudy3_night.png");
}