.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
div.goog-modalpopup-bg, div.modal-dialog-bg {
    opacity: 0.75;
}
.modal-dialog-bg {
    z-index: 999;
}
.goog-modalpopup-bg, .modal-dialog-bg {
    background: none repeat scroll 0 0 #fff;
    left: 0;
    position: absolute;
    top: 0;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-popup.goog-modalpopup, .p6n-popup.modal-dialog {
    position: fixed;
}
.p6n-popup {
    z-index: 999;
}
.goog-modalpopup, .modal-dialog {
    background: none repeat scroll 0 0 padding-box #fff;
    border: 1px solid rgba(0, 0, 0, 0.333);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    outline: 0 none;
    position: absolute;
}
.p6n-popup {
    background: none repeat scroll 0 0 white;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.modal-dialog {
    color: #000;
    padding: 30px 42px;
    z-index: 1000;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.modal-dialog-title {
    background-color: #fff;
    color: #000;
    cursor: default;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 16px;
}
.p6n-popup-title {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 13px;
    text-align: left;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-cloudstorage-create-folder-content, .p6n-cloudstorage-create-bucket-content {
    padding-top: 18px;
}
.modal-dialog-content {
    background-color: #fff;
    line-height: 1.4em;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-cloudstorage-create-folder-content label, .p6n-cloudstorage-create-bucket-content label {
    display: inline-block;
    width: 50px;
}
.p6n-grid label, .p6n-grid legend {
    color: #000;
    cursor: default;
    font-size: 12.41px;
    letter-spacing: 0.3px;
    line-height: 16px;
    text-transform: uppercase;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-grid input[type="text"], .p6n-grid .jfk-textinput {
    height: 32px;
    padding: 0 10px 1px;
    transition: all 0.2s ease 0s;
}
.p6n-grid input[type="text"], .p6n-grid .jfk-textinput, .p6n-grid textarea {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 1px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
}
.p6n-cloudstorage-create-folder-content input, .p6n-cloudstorage-create-bucket-content input {
    width: 250px;
}
.jfk-textinput {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
    border-image: none;
    border-radius: 1px;
    border-right: 1px solid #d9d9d9;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
.p6n-cloudstorage-create-folder-buttons, .p6n-cloudstorage-create-bucket-buttons {
    padding-left: 50px;
}
.modal-dialog-buttons {
    margin-top: 16px;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
button.goog-buttonset-action:disabled, .jfk-button-action:disabled, .jfk-button-action.jfk-button-disabled {
    background: none repeat scroll 0 0 #4d90fe !important;
    border-color: #0157e4 !important;
    color: #fff !important;
    cursor: not-allowed;
    opacity: 0.6;
}
.p6n-action-bar .jfk-button, .p6n-form-buttons .jfk-button, .modal-dialog-buttons button, .p6n-action-bar .goog-flat-menu-button {
    margin-right: 12px;
}
button:disabled, .jfk-button:disabled, .jfk-button.jfk-button-disabled, .goog-flat-menu-button.goog-flat-menu-button-disabled {
    background: none repeat scroll 0 0 #fafafa !important;
    border-color: #ddd !important;
    box-shadow: none !important;
    color: #777 !important;
    cursor: not-allowed;
    opacity: 0.6;
}
.p6n-grid button, .p6n-grid .jfk-checkbox, .p6n-grid .jfk-checkbox-checkmark, .p6n-grid .jfk-freestanding-menu-button, .p6n-grid .pan-scrollable-region, .p6n-grid .jfk-slideToggle, .p6n-grid .jfk-slideToggle:before, .p6n-grid .jfk-slideToggle:after, .p6n-grid .p6n-nav-bar {
    box-sizing: content-box;
}
.goog-buttonset-action, .jfk-button-action {
    background-color: #4d90fe;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    border-color: #0157e4;
    color: #fff;
}
.p6n-grid *, .p6n-grid *:before, .p6n-grid *:after {
    box-sizing: border-box;
}
button, .jfk-button-standard, .goog-flat-menu-button {
    background-color: #fff;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
    border-color: #ddd;
}
button, .jfk-button, .goog-flat-menu-button .goog-flat-menu-button-caption {
    overflow: hidden;
    text-overflow: ellipsis;
}
button, .jfk-button {
    -moz-user-select: none;
    background-repeat: no-repeat;
    border: 1.1px solid transparent;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    height: 32px;
    line-height: 30px;
    margin: 0;
    min-width: 72px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
}
.p6n-action-bar .jfk-button, .p6n-form-buttons .jfk-button, .modal-dialog-buttons button, .p6n-action-bar .goog-flat-menu-button {
    margin-right: 12px;
}
.p6n-grid button, .p6n-grid .jfk-checkbox, .p6n-grid .jfk-checkbox-checkmark, .p6n-grid .jfk-freestanding-menu-button, .p6n-grid .pan-scrollable-region, .p6n-grid .jfk-slideToggle, .p6n-grid .jfk-slideToggle:before, .p6n-grid .jfk-slideToggle:after, .p6n-grid .p6n-nav-bar {
    box-sizing: content-box;
}
